@use "./styles/global";
@use "./styles/nav";
@use "./styles/layout";
@use "./styles/footer";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pages {
  min-width: 100%;
  flex: 1;
}
